<section class="timeline">
      <ul>
        <li>
          <div>
            <time>Février 2023 - aujourd'hui</time>
            <div class="discovery">
              <h2>Développeuse web</h2>
              <h4>Wild Code School | Paris</h4>
              <p>
                Creation of projects using HTML/CSS, Javascript, PHP, MySQL, OOP, Agile Methodology, SCRUM, Database Modeling, Symfony, as well as Git and GitHub.
              </p>
              <a href="{{ path('project_index') }}" role="button" class="btn btn-light">My projects</a>
            </div>
          </div>
        </li>
        <li>
          <div>
            <time>Avril 2017 - aujourd'hui</time>
            <div class="discovery">
              <h2>Technicienne chargée de moyens de tx et de reportage</h2>
              <h4>France 24 | Issy-les-Moulineaux</h4>
              <p>Set up and manage rx of satellite, fiber and IP signals, and ensure QC of assignments. <br> Manage telephone inserts, IFBs, and set up tx resources and operate stand-up positions.</p>
            </div>
          </div>
        </li>
        <li>
          <div>
            <time>Décembre 2013 - Avril 2017</time>
            <div class="discovery">
              <h2>Opératrice MCR/Traffic</h2>
              <h4>beIN SPORTS | Boulogne-Billancourt</h4>
              <p>
                Rx, vérification, configuration et distribution des signaux reçus. Configuration des multiviewers, des clés d’ordres et etablissement des liaisons (ISDN ou VoIP).
                <br> Configuration et mixage des cabines speak. Gestion d’incidents.
              </p>
            </div>
          </div>
        </li>
        <li>
          <div>
            <time>Décembre 2013 - Avril 2017</time>
            <div class="discovery">
              <h2>Opératrice Régie Finale/Diffusion</h2>
              <h4>beIN SPORTS | Boulogne-Billancourt</h4>
              <p> Gestion et coordination des directs. Calage de l’antenne, insertion et vérification de la programmation du jour. Gestion d’incidents.</p>
            </div>
          </div>
        </li>
      </ul>
    </section>