{% extends 'base.html.twig' %}

{% block title %}About Me{% endblock %}

{% block body %}
    <div class="margin">
        <div class="ml-5 mr-5 mt-4 mb-4">
            <h1>About Me</h1>
        </div>
        <div class="p-3 mb-2 shadow bg-light text-dark">
            <div class="text-center">
                <img class="rounded" src="{{ asset('build/images/about/esther.jpg') }}" alt="profile"/>
                <p class="ml-3 mr-3">After 10 years as an audiovisual engineer, and aware of the importance of continuing to learn and evolve, I followed self-training courses until I decided to consolidate my knowledge in one of the sectors I'm most passionate about: programming.</p>
            </div>
            <div class="text-center">
                {{ include('about_me/_modal_resume.html.twig') }}
            </div>
        </div>
        <div class="text-center mt-5 mb-4">
            <h1>Experience</h1>
        </div>
        {% include 'about_me/_timeline.html.twig' %}

        <div class="skills-competences">
            <div class="ml-5 mr-5 mt-4 mb-4">
                <h1>Technical skills</h1>
                <div class="competences">
                    <div class="left">
                        <p>HTML/CSS/JS</p>
                        <p>PHP / Symfony</p>
                        <p>MySQL</p>
                        <p>GitHub</p>
                    </div>
                    <div class="right">
                        <p>Symfony UX</p>
                        <p>Figma</p>
                        <p>MVC</p>
                        <p>Agile scrum methodology</p>
                    </div>
                </div>
            </div>

            <div class="ml-5 mr-5 mt-4 mb-4">
                <h1>Skills</h1>
                <div class="skills">
                    <p>Ability to learn quickly</p>
                    <p>Adapting to change</p>
                    <p>Organized</p>
                    <p>Methodical</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
