{% extends 'base.html.twig' %}

{% block title %}Esther Martinez  -  Web developper{% endblock %}

{% block body %}


<div class="row no-gutters"> 
    <div class="col-lg-6 no-gutters"> 
        <div class="leftside d-flex justify-content-center align-items-center">
            Esther Martinez  -  Web developper
        </div> 
    </div>

    <div class="col-lg-6 no-gutters"> 
        <div class="rightside">
            <img src="{{ asset('build/images/home/pic10.jpg') }}" alt=""/>
        </div> 
    </div> 
</div> 

{% endblock %}
