{% extends 'base.html.twig' %}

{% block title %}Esther Martinez  -  Web developper{% endblock %}

{% block body %}
    <div class="home">
        <img src="{{ asset('build/images/home/pic6_modif.jpg') }}" alt=""/>
        <div class="name">
            Esther Martínez <br> Web developper
        </div>
    </div>
{% endblock %}
