// @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

$font-family-base: 'Quicksand', sans-serif;
// $secondary: #e6ac2f;
$secondary: #000f3f;
$tertiary: black;
$botton: #cfdaff;


div.margin {
  margin: 0 2em;
}
//*********** NAVBAR *******************************
.navbar.navbar-expand-lg.bg-light {
    font-size: 1.1em;
    font-weight: 600;
    position: fixed;
    z-index: 1;
    width: 100%;
    top:0;
    font-weight: 500;
}

//Navbar bottons underline
.navbar-nav.me-auto a {
  position: relative;
}

.navbar-nav.me-auto a::after {
  content: "";
  background-color: $secondary;
  position: absolute;
  left: 0;
  top: 80%;
  width: 100%;
  height: 2px;

  opacity: 0;
  transition: opacity 0.3s;
}

// .navbar-nav.me-auto a.selected::after,
.navbar-nav.me-auto a:hover::after {
  opacity: .8;
}


//************* HOME ********************
.home {
  position: relative;
  display: inline-block;
  text-align: center;
}

.home img {
  width: 100%;
  filter: brightness(0.5);
}

.name{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3em;
  font-family: 'Montserrat', sans-serif;
}

//********* PROJECTS *****************************

//Title souligné
.ml-5.mr-5.mt-4.mb-4 h1{
    border-bottom: 1px solid black;
    padding-bottom: 0.2em;
    margin-bottom: 1em;
    margin-top: 2.5em;
}

//Card fade
.container{
    display: flex;
}

.content{
    position: relative;
    margin: auto;
}

.content .content-overlay{
    background: rgba(0, 15, 63,0.8);
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
    opacity: 1;
}

.content-details{
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
}

.content-details h5{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

.content-details p{
    color: #fff;
    font-size: 1em;
}

.fadeIn-bottom{
    top: 80%;
}

//************ ABOUT ME *********************
//Bottons in top box and inside timeline
button.btn.btn-light, 
a.btn.btn-light {
    background: #ffffff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ffffff, $botton);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom,  #ffffff, $botton);
    color: black;
    border: 1px solid #c9c9c9;
}

//Pic+text top
.text-center {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.text-center img.rounded {
    max-width: 20%;
}

.text-center p {
    text-align: justify;
}

//Background pic+text+botton profile
.p-3.mb-2.bg-light.text-dark {
    width: 50%;
    margin: auto;
    border-radius: 5px;
    border: 1px solid #d6d6d6;
    box-shadow: 1px 1px 1px 0px black;
}

//Timeline aboutme
$primary-color: #fff;
$background-color: linear-gradient(160deg, #ffffff, #c2c2c2);
$text-color: #3c3f64;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Timeline Styling
.timeline {
  ul {
    li {
      list-style-type: none;
      position: relative;
      width: 6px;
      margin: 0 auto;
      padding-top: 50px;
      background: #fff;
      background-color: #cacaca;
      &::after {
        content: '';
        position: absolute;
        border-radius: 6px;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) rotate(0deg);
        width: 18px;
        height: 18px;
        z-index: 0;
        background: $secondary;
      }
      div {
        position: relative;
        bottom: 0;
        width: 400px;
        height: 280px;
        padding: 15px;
        background: $primary-color;
        border-radius: 5px;
        display: flex;
        align-items: center;
        time {
          position: absolute;
          background: $secondary;
          color: white;
          padding: 0 1em;
          height: 30px;
          top: -15px;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          letter-spacing: 2px;
        }
        div {
          height: 100px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          p {
            text-align: justify;
          }
        }
        .discovery {
          margin-right: 10px;
        }
      }
      &:nth-of-type(odd) {
        > div {
          left: 45px;
        }
      }
      &:nth-of-type(even) {
        > div {
          left: -439px;
        }
      }
    }
  }
}

//Timeline title card
.timeline ul li.in-view div .discovery h2 {
    font-size: 1.18em;
    text-align: center;
}
.timeline ul li.in-view div .discovery h4 {
    font-size: 1.1em;
    font-style: italic;
    padding-bottom: 0.7em;
}

// Timeline Animation
.timeline {
  ul {
    li {
      div {
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease-in-out;
      }
      &:nth-of-type(odd) {
        div {
          transform: translate3d(100px, -10px, 0) rotate(0deg);
        }
      }
      &:nth-of-type(even) {
        div {
          transform: translate3d(-100px, -10px, 0) rotate(0deg);
        }
      }
      &.in-view {
        div {
          transform: none;
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .timeline {
    ul {
      li {
        div {
          width: 250px;
          flex-direction: column;
          div {
            width: 80%;
            margin: 10px;
          }
        }
        &:nth-of-type(even) {
          > div {
            left: -289px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  body {
    background: #8bfff4;
  }
  .timeline {
    ul {
      li {
        margin-left: 20px;
        div {
          width: calc(100vw - 91px);
        }
        &:nth-of-type(even) {
          > div {
            left: 45px;
          }
        }
      }
    }
  }
}

//Skills + competences
.skills-competences {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 7em;
    width: 60%;
    margin: auto;
    margin-top: 5em;
    margin-bottom: 5em;
}

.skills-competences .ml-5.mr-5.mt-4.mb-4 .competences{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.skills-competences .ml-5.mr-5.mt-4.mb-4 .competences .right{
    text-align: end;
}

//**************  FOOTER **************************
footer.bg-dark.text-center.text-white {
    position: fixed;
    height: 55px;
    bottom: 0;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

}

footer span {
    color: white;
    margin-right: 1em;
}

footer #github {
    margin-right: 1em;
}

footer #linkedin {
    margin-right: 4em;
}

i.bi.bi-github:hover,
i.bi.bi-linkedin:hover {
    color: $secondary;
}

i.bi {
    font-size: 2.7em;
    color: white;
}

//**************  MEDIA QUERIES ******************************
@media screen and (min-width:401px) {
    .leftside, .rightside{
        height: 100vh;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    //zoom card
    .card:hover {
        transform: scale(1.05);
        transition: 1s all;
    }
    //bigger size card
    .container .row .col-md-4 .content .card.text-center.mt-4.shadow.p-3.mb-5.bg-white.rounded {
        width: 25rem;
    }
}

@media screen and (max-width:400px) {
    .container .row .col-md-4 .content .card.text-center.mt-4.shadow.p-3.mb-5.bg-white.rounded {
        width: 40rem;
    }
}

@import "~bootswatch/dist/simplex/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/simplex/bootswatch";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");