<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-3 pb-0">
    <!-- Section: Social media -->
    <section class="mb-3">
      <!-- Linkedin -->

      {# <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-muted" href="www.linkedin.com/in/estermartinezlopez"><img class="footer-link" src="{{ asset('build/images/icon/linkedin.svg') }}" alt="linkedin" width="50" height="50"/></a></li>
    </ul> #}
     <a href="https://github.com/strmarlop">
        <i class="bi bi-github"></i>
     </a>

     {# <a href="www.linkedin.com/in/estermartinezlopez">
       <i class="bi bi-linkedin"></i>
     </a> #}
    </section>
    <!-- Section: Social media -->
  </div>
    
  </footer>



  



  
      {# <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"><img class="rounded" src="{{ asset('build/images/about/esther.jpg') }}" alt="profile"/></i></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer> #}