<div>
    <section>
        <a id="github" href="https://github.com/strmarlop">
            <i class="bi bi-github"></i>
        </a>
        <a id="linkedin" href="https://www.linkedin.com/in/estermartinezlopez">
            <i class="bi bi-linkedin"></i>
        </a>
    </section>
</div>
    