{% extends 'base.html.twig' %}

{% block title %}Esther's Portfolio{% endblock %}

{% block body %}
    <div class="ml-5 mr-5 mt-4 mb-4">
        <h1>My projects</h1>
    </div>
    
    <div class="d-flex flex-row">
        {% for project in projects %}
            <div class="p-2">
                {% include "project/_card.html.twig" %}
            </div>
        {% endfor %}
    </div>


    {# <a href="{{ path('project_new') }}">Create new</a>  #}
{% endblock %}
