{% extends 'base.html.twig' %}

{% block title %}Esther's Portfolio{% endblock %}

{% block body %}
    <div class="ml-5 mr-5 mt-4 mb-4">
        <h1>My projects</h1>
    </div>
    
    <div class="container">
        {% for project in projects %}
            {% include "project/_card_fade.html.twig" %}
        {% endfor %}
    </div>

    {# <a href="{{ path('project_new') }}">Create new</a>  #}
{% endblock %}
